
<!-- span6 means takes up 6/12 columns of page -->



<div class="span6 offset3 text-center mashable-box stolen-surfbox">




<h1 class="custom-font1">A LITTLE MORE THAN WHAT YOU KNOW</h1>

<h2 class="custom-font2">SHUU..THIS GUY IS A WEIRDO</h2>


<%= link_to("LAUNCH APP NOW", pics_path, :class => 'btn btn-success') %>


</div>
