


<h1 class=custom-font3>YoloING Mofo</h1>

<% @pics.each do |pic| %>
	<div class="span6 text-center mashable-box box">
	<h2>
		Hour <%= pic.hour %>
	</h2>

	<h3 class=custom-font2>
		I feel <%= pic.emotion %>
	</h3>

	<p>
		I learned that <%= pic.
		learned %>
	</p>

	<% end %>

	</div>

	<iframe width="640" height="390" src="//www.youtube.com/embed/wE3fmFTtP9g" frameborder="0" allowfullscreen></iframe>

	<iframe width="640" height="360" src="//www.youtube.com/embed/u6XAPnuFjJc?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>