body {
	
background: url('shanghai1.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.staticpages {
	
background: url('shanghai.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-font1 {
	color: white;
}

.custom-font2{
	color: #66FFFF;
}

.box h2, .box p {
	color: white;
}

 .stolen-surfbox {
box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
background-color: rgba(36,32,33,0.50);
padding: 1%;
margin-top:100px;
}

.customfont4 {
font-weight: 200;
font-size: 40px;
color: #33FF66;
}

.custom-font4 {
font-weight: 400;
font-size: 44px;
color: #303030;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}


.custom-font5 {
font-weight: 300;
font-size: 50px;
color: #33FF64
}

 .my-wrapper h1,
 .my-wrapper h2,
 .my-wrapper h3, 
 .my-wrapper p {
 color: white;
}

.my-wrapper label {
	color:white;
	font-size: 20px;
}

.custom-font6 {
font-weight: 400;
font-size: 50px;
color: #99FFFF
}




.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%
}


.custom-font6 {
font-weight: 200;
font-size: 36px;
color: white;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

.custom-font7 {
font-weight: 200;
font-size: 46px;
color: white;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

