body {
	
background: url('shanghai1.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.staticpages {
	
background: url('shanghai.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-font1 {
	color: white;
}

.custom-font2{
	color: #66FFFF;
}

.box h2, .box p {
	color: white;
}

 .stolen-surfbox {
box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.50);
background-color: rgba(36,32,33,0.50);
padding: 1%;
margin-top:100px;
}

.customfont4 {
font-weight: 200;
font-size: 40px;
color: #33FF66;
}

.custom-font4 {
font-weight: 400;
font-size: 44px;
color: #303030;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}


.custom-font5 {
font-weight: 300;
font-size: 50px;
color: #33FF64
}

 .my-wrapper h1,
 .my-wrapper h2,
 .my-wrapper h3, 
 .my-wrapper p {
 color: white;
}

.my-wrapper label {
	color:white;
	font-size: 20px;
}

.custom-font6 {
font-weight: 400;
font-size: 50px;
color: #99FFFF
}




.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%
}


.custom-font6 {
font-weight: 200;
font-size: 36px;
color: white;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

.custom-font7 {
font-weight: 200;
font-size: 46px;
color: white;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

.custom-font8 {
font-weight: 200;
font-size: 26px;
color: white;
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}


.btn-custom {
  background-color: hsl(145, 62%, 68%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: linear-gradient(#cdf3dd, #7adfa4);
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}
