// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.custom-font1 {
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
font-weight: 300;
font-size: 45px;
}

.custom-font2 {
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, san-serif;
font-weight: 100;
font-size: 29px;
}

.video-header {
	margin: 120px;
}